.modal {
  width: 70%;
  background: white;
  border: 1px solid #ccc;
  border-radius:10px;
  transition: 1.1s ease-out;
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  justify-content: center;
  align-items: center;
  position:absolute;
  z-index: 2147483647;
  left: 50%;

  top:50%;

  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.modal.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}
.modal .content {
  padding: 10px;
}
.modal .actions {
    padding: 0.5rem 1rem;
  border-radius:10px;
}
.modal .actions i {
  position: absolute;
  color: #555;
  top:0;
  right:0;
  font-size:2em;
  padding:10px;
}
.modal .actions i:hover{
  cursor: pointer;
  color: #888;
}
.modal h4{
  font-family: sans-serif;
  font-weight: bold;

}
.modal p{
  font-family: sans-serif;
  color:rgb(85, 85, 85);

}
.modal ul{
  font-family: sans-serif;
  color:rgb(85, 85, 85);
}
.modal-text{
  padding:10px;
}

div.fade.in.modal{
  display:flex !important;
}
.close-button{
  position: absolute;
  font-size: 5em;
  color:black;
}
@media(max-width:900px){
  .modal{
    margin-top:20%;
  }
}